In [1]:
import os ,json
import pandas as pd

In [2]:
folder = "./data"  #folder path where files are located

In [5]:
files = os.listdir(folder) # lists all the files in the selected folder

In [10]:
file_path = os.path.join(folder,files[0]) #create full path for the selected file

In [11]:
with open(file_path,'r') as fs:
    data = json.load(fs).get('properties').get('parameter')  #load the contents of the file to data

In [14]:
df= pd.DataFrame(data).reset_index().rename(columns={'index':'Date'})# create a datafrom out of it

In [15]:
df.head()

,Date,GWETPROF,GWETTOP,GWETROOT,CLOUD_AMT,TS,PS,RH2M,QV2M,PRECTOTCORR,T2M_MAX,T2M_MIN,T2M_RANGE,WS2M
0,20120101,0.66,0.69,0.69,43.37,1.08,101.25,73.06,3.54,0.00,7.93,0.64,7.29,0.70
1,20120102,0.66,0.70,0.69,88.76,1.59,101.02,92.69,4.33,8.38,4.53,0.75,3.78,1.44
2,20120103,0.68,0.73,0.70,65.72,2.90,101.33,81.94,4.52,2.89,8.42,2.84,5.58,1.98
3,20120104,0.68,0.71,0.70,71.95,-0.06,100.95,81.00,3.60,0.26,4.55,1.01,3.54,1.14
4,20120105,0.68,0.71,0.70,82.48,0.44,99.55,76.69,3.42,0.27,6.35,0.55,5.80,1.50